{% extends 'base.html.twig' %}

{% block title %}Corono Musical - {{ album.title }}{% endblock %}

{% block body %}

    <main>

        <header class="section--album">
            <div class="container">
                <div>
                    <img src="{{ album.cover_medium ? album.cover_medium : asset('build/images/default.jpg') }}" alt="">
                    <div>
                        <h1>{{ album.title }}</h1>
                        <h2><a href="{{ path('artiste', {id: albumArtist}) }}">{{ album.artist.name }}</a></h2>
                        <div class="section--album__infos">
                            <ul class="section--album">
                                {% for albumGenre in albumGenres %}
                                    <li>
                                        <a href="{{ path('genre', {id: albumGenre.id}) }}">{{ albumGenre.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>{{ album.release_date }}</p>
                        </div>
                        <ul class="section--album__tracks">
                            {% for key, albumMorceau in albumMorceaux %}
                                <li>
                                    <div>
                                        <span>{{ key+1 }}</span>
                                        <div class="audio" data-music="0">
                                            <div>
                                                <svg class="play" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
                                                    <path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z'
                                                          style='fill:none;stroke:#0b1417;stroke-miterlimit:10;stroke-width:32px'/>
                                                    <path d='M216.32,334.44,330.77,265.3a10.89,10.89,0,0,0,0-18.6L216.32,177.56A10.78,10.78,0,0,0,200,186.87V325.13A10.78,10.78,0,0,0,216.32,334.44Z'/>
                                                </svg>
                                                <svg class="pause" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
                                                    <path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z'
                                                          style='fill:none;stroke:#0b1417;stroke-miterlimit:10;stroke-width:32px'/>
                                                    <line x1='208' y1='192' x2='208' y2='320'
                                                          style='fill:none;stroke:#0b1417;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/>
                                                    <line x1='304' y1='192' x2='304' y2='320'
                                                          style='fill:none;stroke:#0b1417;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px'/>
                                                </svg>
                                            </div>
                                            <audio src={{ albumMorceau.preview }}></audio>
                                        </div>
                                        <h3 class="js-track">{{ albumMorceau.title }}</h3>
                                    </div>
                                    {% set seconds = albumMorceau.duration %}
                                    {% set hours = seconds / 3600 % 60 %}
                                    {% if hours  < 1 %}
                                        {% set hours = null %}
                                    {% else %}
                                        {% set hours = hours|number_format ~ ':' %}
                                    {% endif %}
                                    {% set minutes = seconds / 60 % 60  ~ ':' %}
                                    {% set seconds = seconds % 60 %}
                                    {% if seconds < 10 %}
                                        {% set seconds = '0' ~ seconds %}
                                    {% endif %}
                                    <p>{{ hours }}{{ minutes }}{{ seconds }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        {% set seconds = album.duration %}
                        {% set hours = seconds / 3600 % 60 %}
                        {% if hours  < 1 %}
                            {% set hours = null %}
                        {% else %}
                            {% set hours = hours|number_format ~ 'h ' %}
                        {% endif %}
                        {% set minutes = seconds / 60 % 60  ~ 'min ' %}
                        {% set seconds = seconds % 60  ~ 'sec' %}
                        {% if seconds < 10 %}
                            {% set seconds = '0' ~ seconds %}
                        {% endif %}
                        <p class="section--album__data">{{ album.nb_tracks }} morceaux, {{ hours }}{{ minutes }}{{ seconds }}</p>
                    </div>
                </div>
            </div>
        </header>

    </main>

{% endblock %}