{% extends 'base.html.twig' %}

{% block title %}Corono Musical - {{ playlist.title }}{% endblock %}

{% block body %}

    <main>

        <header class="section--album">
            <div class="container">
                <div>
                    <img src="{{ playlist.picture_medium ? playlist.picture_medium : asset('build/images/default.jpg') }}" alt="">
                    <div>
                        <h1>{{ playlist.title }}</h1>
                        <h2>{{ playlist.creator.name }}</h2>
                        <div class="section--album__infos">
                            <p>{{ playlist.creation_date }}</p>
                        </div>
                        <ul class="section--album__tracks">
                            {% for key, playlistMorceau in playlistMorceaux %}
                                <li>
                                    <div>
                                        <span>{{ key+1 }}</span>
                                        <h3>{{ playlistMorceau.title }}</h3>
                                    </div>
                                    {% set seconds = playlistMorceau.duration %}
                                    {% set hours = seconds / 3600 % 60 %}
                                    {% if hours  < 1 %}
                                        {% set hours = null %}
                                    {% else %}
                                        {% set hours = hours|number_format ~ ':' %}
                                    {% endif %}
                                    {% set minutes = seconds / 60 % 60  ~ ':' %}
                                    {% set seconds = seconds % 60 %}
                                    {% if seconds < 10 %}
                                        {% set seconds = '0' ~ seconds %}
                                    {% endif %}
                                    <p>{{ hours }}{{ minutes }}{{ seconds }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        {% set seconds = playlist.duration %}
                        {% set hours = seconds / 3600 % 60 %}
                        {% if hours  < 1 %}
                            {% set hours = null %}
                        {% else %}
                            {% set hours = hours|number_format ~ 'h ' %}
                        {% endif %}
                        {% set minutes = seconds / 60 % 60  ~ 'min ' %}
                        {% set seconds = seconds % 60  ~ 'sec' %}
                        {% if seconds < 10 %}
                            {% set seconds = '0' ~ seconds %}
                        {% endif %}
                        <p class="section--album__data">{{ playlist.nb_tracks }} morceaux, {{ hours }}{{ minutes }}{{ seconds }}</p>
                    </div>
                </div>
            </div>
        </header>

    </main>

{% endblock %}